<div class="blade-static __bottom" ng-if="pageSettings.itemsPerPageCount < pageSettings.totalItems" ng-include="'pagerTemplate.html'"></div>

<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="table-wrapper" ng-init="setGridOptions('notification-layouts-list-grid', {
              enableSorting: false,
              data: 'listEntries',
              rowTemplate: 'notification-layout-list.row.html',
              rowHeight: 60,
              columnDefs: [
                { name: 'name', displayName: 'notifications.blades.notification-layouts-list.labels.name', cellTemplate: 'layout-list-name.cell.html' },
              ]})">
              <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-save-state ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-height></div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="notification-layout-list.row.html">
    <div ng-click="grid.appScope.selectNode(row.entity)"
         ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid"
         ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'"
         class="ui-grid-cell"
         ng-class="{'ui-grid-row-header-cell': col.isRowHeader, '__hovered': grid.appScope.contextMenuEntity === row.entity, '__selected': row.entity.id===grid.appScope.selectedNodeId }"
         role="{{ col.isRowHeader ? 'rowheader' : 'gridcell' }}"
         ui-grid-cell>
    </div>
</script>

<script type="text/ng-template" id="layout-list-name.cell.html">
    <div class="ui-grid-cell-contents">
        <div class="inner-contents">
            <div class="table-t">{{COL_FIELD}}</div>
            <div class="table-descr" ng-if="row.entity.isDefault === true">{{ 'notifications.blades.notification-layouts-list.labels.default' | translate }}</div>
        </div>
    </div>
</script>